* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  color: #333;
}

/* ///////////////////////////////////////
////////// HEADER CONTAINER //////////////////
////////////////////////////////////// */

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}

/* ///////////////////////////////////////
////////// HEADER //////////////////
////////////////////////////////////// */

.primary-header {
  position: fixed;
  min-width: 100%;
  background-color: #fff;
  padding: 2.1rem 4.2rem;
  transition: all 0.4s ease-in-out;
  /* margin-bottom: 6.4rem; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owner-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.owner-img {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px #3b3b3b solid;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.owner-img img {
  width: 100%;
  height: 100%;
}

span.dot {
  display: inline-block;
  content: '';
  background-color: #e80c0c;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 2.2px #fff solid;

  position: absolute;
  top: 79%;
  left: 30%;
}

.header-active {
  padding: 1rem 3.6rem;
  color: #424242;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}

.primary-header .owner-name {
  font-size: 2.4rem;
  font-weight: 700;
}

.primary-header {
  z-index: 1;
}

/* ///////////////////////////////////////
////////// Nav bar //////////////////
////////////////////////////////////// */

.navbar .nav-list {
  display: flex;
  gap: 1.8rem;
}

.navbar .nav-list > .nav-item {
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav-item:hover {
  color: #cb4c29;
}

/* ///////////////////////////////////////
////////// Hero section //////////////////
////////////////////////////////////// */

.hero-section {
  margin-top: 10rem;
  /* padding: 4.8rem 4.2rem; */
  margin-bottom: 6.4rem;
}

.hero-container {
  max-width: 120rem;
  padding: 0 3.6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.hero-text-box {
  padding: 0 3.6rem;
}

.hero-video-box video {
  width: 100%;
}

.role-title {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.role-short-desc {
  font-size: 1.8rem;
}

/* ///////////////////////////////////////
////////// About section //////////////////
////////////////////////////////////// */

.about-section {
  padding: 4.8rem 9.2rem;
  background-color: #fff7f4;
  /* position: relative; */
}

.about-container {
  max-width: 120rem;
  margin: 0 auto;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 6.4rem;
  align-items: center;
  /* padding: 4.8rem 9.6rem; */
}

.about-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img-box img {
  aspect-ratio: 4/3;
  width: 100%;
  /* height: 100%; */

  /* transform:scale(1.3); */
  border-radius: 5px;
  /* background-size: cover; */
}

/* .about-text-box {
  padding: 4.8rem 6.4rem;
} */

.about-me-tag {
  /* position: absolute; */
  /* top: -3%; */
  font-size: 1.4rem;
  font-weight: 600;
  color: #cb4c29;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}

.about-me-heading {
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: 0.2px;
  margin-bottom: 3.2rem;
}

.about-me-description {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -0.2px;
  word-spacing: 1.5px;
}
