* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: 62.5%;
}

/* ///////////////////////////////////////
////////// HEADER CONTAINER //////////////////
////////////////////////////////////// */

.header-container {
  /* background: linear-gradient(
    90deg,
    #020001 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(0, 140, 255) 100%
  ); */

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}

/* ///////////////////////////////////////
////////// HEADER //////////////////
////////////////////////////////////// */

.primary-header {
  position: fixed;
  min-width: 100%;
  padding: 2.4rem 4.8rem;
  transition: all 0.5s ease-in-out;

  display: flex;
  justify-content: space-between;
}

.owner-container{
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.owner-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px black solid;
}

.owner-img img {
  width: 100%;
  height: 100%;
}

span.dot {
  display: inline-block;
  content: "";
  background-color: #e80c0c;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #e80c0c;
  border: 0.1px black solid;

  position: absolute;
  top: 68%;
  left: 40%;
}

.header-active {
  background-color: #d74f0be6;
  padding: 1.8rem 3.6rem;
}

.primary-header .owner-name {
  font-size: 1.8rem;
  /* color: #f4f4f4; */
}

.primary-header .owner-name-active {
  color: #ffffff;
}

.primary-header {
  z-index: 1;
}

/* .owner-container {
  
} */

.online-tag {
  /* display: flex;
  align-items: center;
  gap: 0.4rem;

  z-index: 9;
  text-transform: uppercase;
  background-color: #d74f0ba7;
  padding: 0.8rem 1.2rem;
  border-radius: 50px; */
}

.online-tag > p {
  /* font-size: 0.9rem;
  letter-spacing: 0.8px; */
}

/* ///////////////////////////////////////
////////// Nav bar //////////////////
////////////////////////////////////// */

.navbar .nav-list {
  display: flex;
  gap: 1.8rem;
}

.navbar .nav-list > .nav-item {
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.navbar .nav-list > .nav-item::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

.navbar .nav-list > .nav-item:hover::after {
  background-color: #f1f100;
  animation: br-animate 0.3s forwards 1;
}

@keyframes br-animate {
  0% {
    width: 0%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
